

  <nav class="navbar navbar-expand-lg navbar-dark  navbar-fixed-top navlol">
    <a class="navbar-brand nav-link" href="/">donsGram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto item">
        <li class="nav-item active">
          <a class="nav-link" rel="nofollow" data-method="delete" href="/users/sign_out">Cerrar Sesion<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/posts/new">Publicar<span class="sr-only">(current)</span></a>
        </li>
      </ul>

    </div>
  </nav>
